.cabecalho_menu-hamburger {
  width: 24px;
  height: 24px;
  background-color: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}
.container_imagem {
  padding: 1em; /*não aparecer o display */
}

.lista-menu {
  display: none; /*não aparecer o display */
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container_botao:checked ~ .lista-menu {
  display: block; /*não aparecer o display */
}

.lista-menu_titulo,
.lista-menu_item {
  padding: 1rem;
  background-color: var(--branco);
}

.lista-menu_titulo {
  color: var(--cor-principal);
  font-weight: 700;
  text-transform: uppercase;
}

.lista-menu_link {
  background: var(--cor-dois);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container_botao {
  display: none;
}
